# SPDX-FileCopyrightText: 2023 - 2024 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 spatterlight
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "grafana_container_additional_networks_additional", "new": "grafana_container_additional_networks_custom" }
    - { "old": "grafana_provisioning_datasources", "new": "grafana_provisioning_datasources_datasources" }
    - { "old": "grafana_provisioning_dashboard_providers", "new": "grafana_provisioning_dashboards_providers" }

- name: Fail if required Grafana settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - grafana_identifier
    - grafana_uid
    - grafana_gid
    - grafana_hostname
    - grafana_path_prefix
    - grafana_container_network

- name: Run if Traefik is enabled
  when: grafana_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required Grafana Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "lookup('vars', item, default='') | string | length == 0"
      with_items:
        - grafana_container_labels_traefik_hostname
        - grafana_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `grafana_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if grafana_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          grafana_container_labels_traefik_path_prefix (`{{ grafana_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/grafana`).
      when: "grafana_container_labels_traefik_path_prefix != '/' and grafana_container_labels_traefik_path_prefix[-1] == '/'"
