{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 spatterlight

SPDX-License-Identifier: AGPL-3.0-or-later
#}

apiVersion: 1

providers: {{ grafana_provisioning_dashboards_providers | to_json }}
