apiVersion: 1

prune: {{ grafana_provisioning_prune_datasources }}

datasources: {{ grafana_provisioning_datasources | to_json }}

deleteDatasources: {{ grafana_provisioning_delete_datasources | to_json }}
