{#
SPDX-FileCopyrightText: 2025 spatterlight

SPDX-License-Identifier: AGPL-3.0-or-later
#}

apiVersion: 1

policies: {{ grafana_provisioning_notification_policies_policies | to_json }}

resetPolicies: {{ grafana_provisioning_notification_policies_resetPolicies | to_json }}
