{#
SPDX-FileCopyrightText: 2026 spatterlight

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{
  "__inputs": [],
  "__requires": [],
  "annotations": { "list": [] },
  "description": "Molecule test dashboard",
  "editable": false,
  "graphTooltip": 0,
  "id": null,
  "links": [],
  "panels": [],
  "schemaVersion": 38,
  "tags": ["molecule-test"],
  "title": "Molecule Test Dashboard",
  "uid": "molecule-test-dash-01",
  "version": 1
}
